
.main_title>div{
    max-width: 1200px;
    justify-content: space-between;
    margin: 140px auto 0;
}

.main_title h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -3px;
}

.recommend{
    align-items: center;
}

.recommend_tit{
    font-size: 14px;
    color: #999;
    margin: 0 9px 0 0 ;
    font-weight: bold;
    letter-spacing: -3px;
}

.recommend_txt{
    width: 180px; height: 48px;
    border: 1px solid #c9c9c9;
    border-radius: 40px;
}

.recommend_txt a{
    font-size: 14px;
    line-height: 48px;
    padding: 0 18px;
    font-weight: bold;
}

/**********메인 카드 이미지 시작***********/

.cont_wrap{
    max-width: 1200px;
    margin: 30px auto 50px;
    justify-content: space-between;
}

.cont{
    width: 1200px;
    position: relative;
}

.card_a{
    max-width: 888px;
    display: grid;
    grid-template-columns: repeat(3, 276px);
    grid-template-rows: 276px 276px 445px;
    gap: 30px;
    grid-template-areas: 
    "left_1 left_1 left_2 "
    "left_1 left_1 left_3 "
    "left_4 left_4 left_4 ";
    margin-bottom: 30px;
}

.card_b{
    max-width: 888px;
    display: grid;
    grid-template-columns: repeat(3, 276px);
    grid-template-rows:276px 276px 276px 276px;
    gap: 30px;
    grid-template-areas: 
    "left_5 left_6 left_7 "
    "left_8 left_9 left_9 "
    "left_10 left_11 left_12 "
    "left_13 left_14 left_14 ";
    position: relative;
}

.card_a>a, .card_b>a{
    display: block;
    border-radius: 15px;
    background-color: violet;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.left_1{
    grid-area: left_1;
    background-image: url(../img/1.jpg);
}
.left_2{
    grid-area: left_2;
    background-image: url(../img/2.jpg);
}
.left_3{
    grid-area: left_3;
    background-image: url(../img/3.jpg);
}
.left_4{
    grid-area: left_4;
    background-image: url(../img/4.jpg);
}
.left_5{
    grid-area: left_5;
    background-image: url(../img/5.jpg);
}
.left_6{
    grid-area: left_6;
    background-image: url(../img/6.png);
}
.left_7{
    grid-area: left_7;
    background-image: url(../img/7.jpg);
}
.left_8{
    grid-area: left_8;
    background-image: url(../img/8.jpg);
}
.left_9{
    grid-area: left_9;
    background-image: url(../img/9.jpg);
}
.left_10{
    grid-area: left_10;
    background-image: url(../img/10.jpg);
}
.left_11{
    grid-area: left_11;
    background-image: url(../img/11.jpg);
}
.left_12{
    grid-area: left_12;
    background-image: url(../img/12.jpg);
}
.left_13{
    grid-area: left_13;
    background-image: url(../img/13.jpg);
}
.left_14{
    grid-area: left_14;
    background-image: url(../img/14.jpg);
}


.card_a>a:after, .card_b a:after{
    display: block;
    content: '';
    width: 100%; height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px;
}

.txt_area{
    position: absolute;
    left: 0; bottom: 0;
    padding: 0 20px 20px;
    z-index: 1;
}

.txt_area_2{
    position: absolute;
    left: 0; bottom: 0;
    padding: 0 30px 30px;
    z-index: 1;
}

.txt_area_3{
    position: absolute;
    left: 0; bottom: 0;
    padding: 0 20px 20px;
    z-index: 1;
}

.txt_area_3>p{
    color: black;
    z-index: 1;
}

.DNA{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.category{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.card_title{
    margin: 10px 0 20px;
}

.card_title>p, p.card_title{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.card_title_2{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0 20px;
}



/*************메인 오른쪽 시작***************/


.cont_right{
    display: grid;
    grid-template-columns: 276px;
    grid-template-rows: 400px 400px 274px 400px;
    gap: 30px;
    position: absolute;
    top: 0; right: 0;
    grid-template-areas:
    "right_1"
    "right_2"
    "right_3"
    "right_4";
}

.cont_right>article{
    border-radius: 20px;
}

.right_1, .right_2, .right_4{
    background-color: #0078c3;
    background-repeat: no-repeat;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_1{
    background-image: url(../img/11.png);
    background-size: 228px;
    background-position: 140px 190px;
    grid-area: right_1;
}
.right_2{
    background-image: url(../img/22.png);
    background-size: 240px;
    background-position: 160px 220px;
    grid-area: right_2;
}

.right_3{
    border: #f7f7f7 2px solid;
    padding: 30px 20px;
    background-color: #fff;
    grid-area: right_3;
}

.stock_info{
    justify-content: space-between
}

.swiper_1{
    width: 32px; height: 32px;
    background-image: url(../img/btn-main-swiper-arrow-prev.svg);
}
.swiper_2{
    width: 32px; height: 32px;
    background-image: url(../img/btn-main-swiper-arrow-next.svg);
}

.right_3>p{
    color: #999;
    font-size: 12px;
    margin: 70px 0 5px;
}

.price_wrap{
    /* align-items: flex-end; */
    justify-content: space-between;
}

.stock_price{
    font-size: 38px;
    font-weight: bold;
}

.icon_plus{
    width: 12px; height: 10px;
    background-image: url(../img/icon-stock-plus.svg);
    margin-right: 5px;
}

.plus_wrap{
    align-items: center
}

.stock_btn{
    display: block;
    width: 85px;
    background-color: #000000;
    height: 30px;
    padding: 0 18px 2px;
    border-radius: 20px;
}

.stock_btn>span{
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

.right_4{
    background-image: url(../img/44.png);
    background-size: 228px;
    background-position: 140px 220px;
    grid-area: right_4;
}

.title{
    margin: 10px 0 0;
}

.title p{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.cont_btn{
    width: 85px;
    background-color: #fff;
    height: 30px;
    padding: 0 18px 2px;
    border-radius: 20px;
}

.cont_btn>span{
    color: #0078c3;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

.sub_txt{
    margin-top: 50px;
}

.sub_txt>p{
    font-size: 14px;
    color: white;
}

/**********버튼 시작**************/

.btn_more_wrap{
    /* position: absolute; */
}

.btn_more{
    width: 894px; height: 50px;
    display: block;
    background-color: #ebf0f7;
    border-radius: 20px;
    padding: 11px 32px 14px;
}

.txt_more{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

@media (max-width : 1280px) {
    .cont, .main_title>div{
        width: 888px;
    }

    .card_a{
        margin: 0;
    }

    .cont_right{
        display: grid;
        grid-template-columns: repeat(2, 429px);
        grid-template-rows: repeat(2, 400px);
        gap: 30px;
        position: relative;
        grid-template-areas:
        "right_1 right_2"
        "right_3 right_4";
        margin: 30px 0;
    }

    .card_b{
        position: relative;
    }

    .right_3{
        position: relative;
    }

    .right_3>a{
        position: absolute;
        bottom: 30px;
    }

    .btn_more_wrap{
        width: 888px;
    }

}

@media (max-width : 950px){

    .main_title_area{
        flex-direction: column;
    }

    .main_title h1{
        font-size: 38px;
        margin-bottom: 20px;
    }

    .recommend{
        justify-content: space-between;
    }

    .cont, .main_title>div{
        width: 582px;
    }

    .card_a{
        margin: 0;
    }

    .card_a{
        max-width: 582px;
        display: grid;
        grid-template-columns: 276 276px;
        grid-template-rows: 276px 276px 276px 445px;
        gap: 30px;
        grid-template-areas: 
        "left_1 left_1"
        "left_1 left_1"
        "left_2 left_3"
        "left_4 left_4";
        margin-bottom: 30px;
        overflow: hidden;
        order: 1;
    }
    
    .card_b{
        max-width: 888px;
        display: grid;
        grid-template-columns: repeat(3, 276px);
        grid-template-rows:276px 276px 276px 276px;
        gap: 30px;
        grid-template-areas: 
        "left_5 left_6"
        "left_7 left_8"
        "left_9 left_10"
        "left_11 left_12"
        "left_13 left_14";
        overflow: hidden;
        order: 3;
    }

    .cont_right{
        display: grid;
        grid-template-columns: repeat(2, 276px);
        grid-template-rows: repeat(2, 400px);
        gap: 30px;
        position: relative;
        grid-template-areas:
        "right_1 right_2"
        "right_3 right_4";
        margin: 30px 0;
    }

    .card_b{
        position: relative;
    }

    .right_3{
        position: relative;
    }

    .right_3>a{
        position: absolute;
        bottom: 30px;
    }

    .btn_more_wrap{
        width: 582px;
    }

    .btn_more{
        width: 582px;
    }
}

@media (max-width : 768px){
    .main_title>div{
        margin: 100px auto 0;
    }
    
    .main_title h1{
        font-size: 40px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    

    .cont_wrap{
        margin: 30px auto 80px;
    }

    .main_title_area{
        flex-direction: column;
        margin: 0 auto;
    }

    .main_title h1{
        font-size: 38px;
        padding-bottom: 50px;
        margin: 0;
    }

    .recommend{
        max-width: 736px;
        justify-content: space-between;
    }

    .recommend_txt{
        width: 631px;
    }

    .cont, .main_title>div{
        width: 100%;
    }

    .card_a{
        margin: 0;
    }

    .card_title{
        display: flex;
    }

    .category{
        font-size: 12px;
        margin: 0 0 6px;
    }

    .card_title>p{
        margin-right: 8px;
        font-size: 20px;
    }

    .card_a{
        margin: 0 15px 0 15px;
        max-width: 736px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
        grid-template-areas: 
        "left_1"
        "left_2"
        "left_3"
        "left_4";
        margin-bottom: 30px;
        overflow: hidden;
        order: 1;
    }

    .left_1{
        padding-top: 100%;
    }

    .card_b{
        margin: 0 15px 0 15px;
        max-width: 736px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:repeat(10, 1fr);
        gap: 30px;
        grid-template-areas: 
        "left_5"
        "left_6"
        "left_7"
        "left_8"
        "left_9"
        "left_10"
        "left_11"
        "left_12"
        "left_13"
        "left_14";
        overflow: hidden;
        order: 3;
        position: relative;
    }

    .left_8{
        padding-top: 100%;
    }

    .cont_right{
        margin: 30px 15px 30px;
        max-width: 736px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        gap: 30px;
        position: relative;
        grid-template-areas:
        "right_1"
        "right_2"
        "right_3"
        "right_4";
    }

    .right_1, .right_2, .right_3 .right_4{
        padding: 20px;
    }

    .stock_info>p{
        font-size: 12px;
    }

    .right_3{
        position: relative;
    }

    .right_3>a{
        position: absolute;
        bottom: 30px;
    }

    .right_3>p{
        color: #999;
        font-size: 12px;
        margin: 5px 0 0;
    }

    .title{
        display: flex;
    }

    .title>div{
        display: flex;
    }

    .title p{
        font-size: 20px;
        margin-right: 5px;
    }

    .sub_txt{
        display: flex;
        margin-top: 20px;
    }

    .btn_more_wrap{
        max-width: calc(100% - 30px)
    }
    .btn_more{
        max-width: 100%
    }

}

@media (max-width : 590px){
    .main_title_area>h1{
        font-size: 28px;
    }

    .title{
        flex-direction: column;
    }
    .card_title{
        flex-direction: column;
        display: flex;
    }
    .card_title_2{
        flex-direction: column;
    }
    .txt_area{
        display: flex;
        flex-direction: column;
    }
    .title{
        display: flex;
    }
    .sub_txt{
        margin: 10px 0 0;
    }
}